@import '../../vars.scss';

.block {
    margin: 30px 0;
    color: $cwhite;

    strong {
        color: $c1;
        font-weight: 600;
    }

    ul {
        list-style:disc;
        margin-left: 30px;

        li {

        }
    }

    a {
        color: $c1hover;
        transition: 0.3s;
        font-weight: 600;

        &:hover {
            color: $c3hover;
        }
    }
}

