@import '../../vars.scss';

.MainContent {
    background-color: $c1hover;

    .block {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: $f3;
            color: $c2;
            text-shadow: $cblack 5px 3px 4px;
            transition: 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .content {
            display: flex;
            align-items: center;
            gap: 50px;
    
            @media screen and (max-width: 1200px){
                flex-direction: column;
                justify-content: center;
                padding: 0 30px;
                width: 100%;
            }
    
            @media screen and (max-width: 767px){
                padding: 0 15px;
            }


            .carouselContainer {
                position: relative;
                width: 70%;
                padding: 0 30px;
        
                @media screen and (max-width: 1200px){
                    width: 100%;
                    margin-top: 40px;
                }
            }
        
            .containerInfo {
                width: 30%;
                padding: 0 30px;
        
                @media screen and (max-width: 1200px){
                    width: 100%;
                    margin-bottom: 40px;
                }
        
                .info {
                    font-size: 24px;
                    font-family: $f3;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    color: $cwhite;
                    text-shadow: $cblack 5px 3px 4px;
        
                    small {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}