@import '../../vars.scss';

.MainContent {
    background-color: $c1hover;

    .block {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        @media screen and (max-width: 767px){
            padding: 0;
        }

        h1 {
            font-family: $f3;
            color: $c2;
            text-shadow: $cblack 5px 3px 4px;
            transition: 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .content {
            display: flex;
            align-items: center;
            gap: 50px;
    
            @media screen and (max-width: 1200px){
                flex-direction: column;
                justify-content: center;
                padding: 0 30px;
                width: 100%;
            }
    
            @media screen and (max-width: 767px){
                padding: 0 15px;
                gap: 20px;
            }


            .carouselContainer {
                position: relative;
                width: 70%;
                padding: 0 30px;
        
                @media screen and (max-width: 1200px){
                    width: 100%;
                    margin-top: 40px;
                }
            }
        
            .containerInfo {
                width: 30%;
                padding: 0 30px;
        
                @media screen and (max-width: 1200px){
                    width: 100%;
                    margin-bottom: 40px;
                }
        
                .info {
                    font-size: 24px;
                    font-family: $f3;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    color: $cwhite;
                    text-shadow: $cblack 5px 3px 4px;
        
                    small {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .videoContainer {
        width: 100%;
        background-color: $c3hover;

        .container {
            margin: 0 auto;
            padding: 50px 0;
            display: flex;
            gap: 30px;

            @media screen and (max-width: 1200px){
                padding: 30px;
            }
    
            @media screen and (max-width: 767px){
                flex-direction: column;
                align-items: center;
                padding: 15px;
            }

            .asideInfo {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                font-family: $f3;
                font-size: 24px;
                color: $cwhite;
                text-shadow: $cblack 5px 3px 4px;
                text-align: center;
    
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
    
            .asideVideo {
                flex: 1;
                height: 400px;
    
                @media screen and (max-width: 1200px){
                    height: 243px;
                }
    
                @media screen and (max-width: 767px){
                    height: 210px;
                    width: 100%;
                    flex: unset;
                }
    
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

        }

    }
}