//fonts
$f1: "Old London";
$f2: "Deutsche Zierschrift";
$f3: "Morris Roman";

//colors
$c1: #601FBC;
$c1hover: #38087B;
$c2: #108982;
$c2hover: #007851;
$c3: #FF4216;
$c3hover: #B52300;
$coverlay: #00000094;
$c4: #9b9b9b;
$c5: #241429;
$c6: #15291a;

$cwhite: #FFFFFF;
$cblack: #000000;